.miles-landing {
  background: url(/assets/images/miles_hero.png) center top;
  background-size: cover;
  width: 100%;
  height: 1079px;
  padding-top: 40px;

  .landing-text {
    width: 100%;
    height: calc(100% - 241px);
    padding-top: 219px;
    text-align: center;
    color: #FFFFFF;
    font-size: 64px;
    font-weight: bold;
  }
}
