<div class="miles-landing">
  <app-miles-nav></app-miles-nav>
  <div class="landing-text">
    <p class="mb-0">PROVEN PERFORMANCE</p>
    <p class="mb-0">FROM WALL STREET TO MAIN STREET</p>
  </div>
</div>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <img src="/assets/images/miles_logo.png" width="240" height="164">
        <div class="login-title">COMPLIANCE ACCESS</div>
        <div class="login-form">
          <div>
            <label>Username</label>
            <input type="text" class="form-control">
          </div>
          <div>
            <label>Password</label>
            <input type="password" class="form-control">
          </div>
          <a class="forgot-pwd" href="#">Forgot password</a>
          <div class="text-center mt-4">
            <button type="button" class="btn btn-outline-light" (click)="goToMain()">Sign in</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
