.portfolio-details {
  width: 100%;
  min-height: 100%;
  background-color: #ffffff;
  padding: 16px;
  color: #707070;

  .block {
    text-align: center;
    border: solid 1px #2699FB;
    border-radius: 4px;

    .value {
      font-size: 20px;
    }
  }

  .intro {
    background-color: #EFF0F5;
  }

  .entity-logo {
    width: 120px;
    height: 120px;
    background-color: #ffffff;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 120px;
    border: solid 1px #2699FB;
    margin: auto;
  }

  .intro-tab-panel {
    border-top: solid 1px #2699FB;
    border-radius: 4px;
    background: #C5C5C5;
  }

  .nav-tabs {
    border-bottom: 0;

    .nav-link {
      border: 0;
      color: #ffffff;
      font-size: 20px;

      &.active {
        color: #ffffff;
        border-bottom: 2px solid #2699FB;
        background-color: transparent;
      }
    }
  }

  .property-row {
    cursor: pointer;

    &:hover {
      background-color: #2699fb29;
    }
  }

  .line {
    width: 24px;
    border-top: 1px solid #2699FB;
  }

  .tasks-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 328px;
    margin-left: auto;
    margin-right: auto;
  }

  .note-row {
    background-color: #F1F9FF;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 8px;
    margin-bottom: 8px;

    .note-avatar {
      background-color: #ffffff;
      border: solid 1px #2699FB;
      border-radius: 4px;
      min-width: 48px;
      height: 48px;
      margin-right: 8px;
    }

    .note-description {
      line-height: 1;
      font-size: 16px;
      text-align: left;
    }
  }

  .note-panel {
    height: 330px;
    overflow-y: auto;
  }
}
