.overview {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 16px;

  .block {
    text-align: center;
    border: solid 1px #214db2;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px;

    .value {
      font-size: 20px;
    }
  }
}
