.main-page {
  background: url(/assets/images/miles_hero.png) center top;
  background-size: cover;
  width: 100%;
  height: 1079px;

  .top-menu-bar {
    display: flex;
    justify-content: space-between;
    background: #2699FB;

    .logo {
      margin-left: 8.5%;
    }

    .top-menu {
      color: #FFFFFF;
      display: flex;
      align-items: center;
      margin-right: 15.5%;

      .search-box {
        background: transparent;
        border: solid 1px #FFFFFF88;
        border-radius: 0;
        color: #FFFFFF;
        margin-right: 12px;
        font-size: 12px;
        width: 128px;

        &:focus {
          box-shadow: #FFFFFF;
        }
      }

      .search-btn {
        padding: 0;
        color: #FFFFFF;
        cursor: pointer;
      }

      .user-name {
        margin-left: 12px;
        margin-right: 8px;
        font-size: 12px;
      }
    }

    @media (max-width: 957px) {
      .logo {
        margin-left: 20px;
      }

      .top-menu {
        margin-right: 20px;
      }
    }
  }

  .main {
    height: calc(100% - 72px);
    display: flex;

    app-miles-map {
      flex: 1;
    }
  }

  .font-8px {
    font-size: 8px;
  }

  .font-28px {
    font-size: 28px;
  }

  .opacity-50 {
    opacity: 0.5;
  }

  .rotate-20deg {
    transform: rotate(-20deg);
  }

  @media (max-width: 957px) {
    .main {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
