.main-page {
  //background: url(/assets/images/miles_hero.png) center top;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 72px);

  .top-menu-bar {
    display: flex;
    justify-content: space-between;
    background: #2699FB;

    .logo {
      margin-left: 20px;
    }

    .top-menu-items {
      justify-content: flex-end;
    }

    .top-menu {
      color: #FFFFFF;
      display: flex;
      align-items: center;
      margin-right: 15.5%;
      float: right;

      .search-btn {
        padding: 0;
        color: #FFFFFF;
        cursor: pointer;
      }

      .user-name {
        margin-left: 12px;
        margin-right: 8px;
        font-size: 12px;
      }
    }

    .hamburger {
      margin-left: 10px;
      display: none;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;

      .top-menu-items {
        justify-content: space-between;
      }

      .hamburger {
        display: block;
      }
    }

    @media (max-width: 957px) {
      .logo {
        margin-left: 20px;
      }

      .top-menu {
        margin-right: 20px;
      }
    }
  }

  .search-box, .search-box-bottom {
    background: transparent;
    border: solid 1px #FFFFFF88;
    border-radius: 0;
    color: #FFFFFF;
    margin-right: 12px;
    font-size: 12px;
    width: 128px;

    &:focus {
      box-shadow: #FFFFFF;
    }
  }

  .search-box-bottom {
    width: 100%;
    margin-left: 12px;
  }

  .main {
    height: 100%;
    display: flex;
    position: relative;

    app-miles-map {
      flex: 1;
    }

    app-sidebar {
      margin-left: 0;
      transition-duration: 1s;
    }

    @media (max-width: 768px) {
      height: calc(100vh - 114px);

      app-sidebar {
        position: relative;
        height: 100%;
        margin-left: -360px;
        transition-duration: 1s;
        overflow: scroll;
        z-index: 100;

        &.visible {
          margin-left: 0;
          transition-duration: 1s;
        }
      }
    }
  }

  .font-8px {
    font-size: 8px;
  }

  .font-28px {
    font-size: 28px;
  }

  .opacity-50 {
    opacity: 0.5;
  }

  .rotate-20deg {
    transform: rotate(-20deg);
  }
}
