<div class="main-page">
  <div class="top-menu-bar">
    <div class="blur-container">
      <div class="backdrop-blur"></div>
    </div>
    <div class="top-bar-content">
      <div class="logo-container">
        <img class="logo" src="/assets/images/miles_logo_white.png" width="112" height="80">
        <a class="compliance" href="#" data-toggle="modal" data-target="#loginModal">
          <i class="fa-balance-scale_regular"></i>
          <span>COMPLIANCE</span>
        </a>
      </div>
      <div class="top-menu">
        <div [class]="'search-form ' + (viSerDesktop ? 'show' : 'hide')">
          <input type="text" class="form-control search-box" placeholder="Search...">
          <i class="search-btn fa-search_regular" (click)="toggleSearch()"></i>
        </div>
        <div class="user-avatar">
          <img src="/assets/images/avatar.png" width="48" height="48">
          <div class="badge-number">3</div>
        </div>
        <span class="separator"></span>
        <button class="btn fa-sign-out-alt_regular btn-signout" (click)="signOut()"></button>
      </div>
      <!--</div>-->
    </div>
    <input type="text" [class]="'form-control search-box-bottom ' + (viSerMobile ? 'show' : 'hide')" placeholder="Search...">
  </div>

  <div class="main">
    <app-sidebar></app-sidebar>
    <app-miles-map></app-miles-map>
  </div>
</div>
