.main-page {
  background: url(/assets/images/miles_hero.png) center top;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 80px);

  .top-menu-bar {

    .backdrop-blur {
      width: 100%;
      height: 80px;
      background: rgba(0, 0, 0, 0.5);
      filter: url(/assets/images/blur.svg#blur);
    }

    .top-bar-content {
      position: absolute;
      top: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo-container {
        display: flex;
        align-items: center;

        .logo {
          margin-left: 8px;
          margin-right: 36px;
        }

        .compliance {
          color: #ffffff;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-decoration: none;

          i {
            margin-top: 15px;
            font-size: 24px;
          }

          span {
            margin-top: 8px;
            font-size: 16px;
          }

          &:hover, &:focus {
            text-decoration: none;
          }
        }

        @media (max-width: 768px) {

          .compliance {
            display: none;
          }
        }
      }

      .top-menu-items {
        justify-content: flex-end;
      }

      .top-menu {
        color: #FFFFFF;
        display: flex;
        align-items: center;
        margin-right: 16px;
        float: right;

        .search-btn {
          padding: 0;
          color: #FFFFFF;
          cursor: pointer;
          font-size: 24px;
          text-shadow: -5px 5px 6px #000000;
        }

        .user-avatar {
          width: 48px;
          height: 48px;
          margin-left: 24px;
          margin-right: 16px;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);

          img {
            border-radius: 4px;
          }

          .badge-number {
            width: 24px;
            height: 24px;
            border-radius: 25px;
            background-color: rgba(256, 256, 256, 0.5);
            color: #1100FF;
            font-size: 16px;
            text-align: center;
            font-weight: bold;
            position: relative;
            top: -12px;
            left: -12px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
          }
        }

        .separator {
          width: 2px;
          height: 40px;
          border: 1px solid #ffffff;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
          margin-right: 14px;
        }

        .btn-signout {
          color: #ffffff;
          font-size: 24px;
          padding: 0;
          text-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
        }
      }

      .hamburger {
        margin-left: 10px;
        display: none;
      }

      @media (max-width: 768px) {

        .top-menu-items {
          justify-content: space-between;
        }

        .hamburger {
          display: block;
        }
      }
    }
  }

  .search-box, .search-box-bottom {
    background: transparent;
    border: solid 1px #FFFFFF88;
    border-radius: 0;
    color: #FFFFFF;
    margin-right: 12px;
    font-size: 12px;
    width: 128px;

    &:focus {
      box-shadow: #FFFFFF;
    }
  }

  .search-box-bottom {
    width: 100%;
    background-color: #183c72;
  }

  .main {
    height: 100%;
    display: flex;
    position: relative;

    app-miles-map {
      flex: 1;
    }

    app-sidebar {
      margin-left: 0;
      transition-duration: 1s;
    }

    @media (max-width: 768px) {
      height: calc(100vh - 114px);

      app-sidebar {
        position: relative;
        height: 100%;
        margin-left: -360px;
        transition-duration: 1s;
        overflow: auto;
        z-index: 100;

        &.visible {
          margin-left: 0;
          transition-duration: 1s;
        }
      }
    }
  }
}
