<div #sidebar [class]="'sidebar ' + (isSmall ? 'small' : '')"
     [style.width.px]="(isSmall ? 56 : 144) + (details.length ? 360 : 0)">
  <div class="blur-container">
    <div class="backdrop-blur">
      <div class="color-bg"></div>
    </div>
  </div>
  <div class="sidemenu">
    <ul class="list-unstyled components">
      <li [class]="activated == 'HOME' ? 'active' : ''" #homeElement>
        <a href="javascript:" (click)="activateMenu('HOME')">
          <i class="light fa-compass_light"></i>
          <i class="regular fa-compass_regular"></i>
          <span>HOME</span>
        </a>
        <div class="activated-bar"></div>
        <div class="scroll-bar"></div>
      </li>
      <hr class="separator"/>
      <li [class]="activated == 'SEARCH' ? 'active' : ''" #searchElement>
        <a href="javascript:" (click)="activateMenu('SEARCH')">
          <i class="light fa-filter_light"></i>
          <i class="regular fa-filter_regular"></i>
          <span>SEARCH</span>
        </a>
        <div class="activated-bar"></div>
      </li>
      <li [class]="activated == 'ADD_DATA' ? 'active' : ''" #addElement>
        <a href="javascript:" (click)="activateMenu('ADD_DATA')">
          <i class="light fa-cloud-upload-alt_light"></i>
          <i class="regular fa-cloud-upload-alt_regular"></i>
          <span>ADD DATA</span>
        </a>
        <div class="activated-bar"></div>
      </li>
      <li [class]="activated == 'DRAW' ? 'active' : ''" #drawElement>
        <a href="javascript:" (click)="activateMenu('DRAW')">
          <i class="light fa-draw-polygon_light"></i>
          <i class="regular fa-draw-polygon_regular"></i>
          <span>DRAW</span>
        </a>
        <div class="activated-bar"></div>
      </li>
      <hr class="separator"/>
      <li [class]="activated == 'BOUNDARIES' ? 'active' : ''" #boundaryElement>
        <a href="javascript:" (click)="activateMenu('BOUNDARIES')">
          <i class="light fa-object-group_light"></i>
          <i class="regular fa-object-group_regular"></i>
          <span>BOUNDARIES</span>
        </a>
        <div class="activated-bar"></div>
      </li>
      <li [class]="activated == 'DATA_LAYERS' ? 'active' : ''" #layerElement>
        <a href="javascript:" (click)="activateMenu('DATA_LAYERS')">
          <i class="light fa-database_light"></i>
          <i class="regular fa-database_regular"></i>
          <span>DATA LAYERS</span>
        </a>
        <div class="activated-bar"></div>
      </li>
    </ul>

    <i [class]="(isSmall ? 'fa-arrow-alt-from-left_light' : 'fa-arrow-alt-to-left_light') + ' sidebar-switch'"
       (click)="switchSidebar()"></i>
  </div>

  <div #detailsPanel [class]="'details ' + (selectedDetail != -1 ? 'disp' : '')">
    <div class="w-100 h-100" *ngIf="selectedDetail >= 0">
      <div class="details-header">
        <i *ngIf="details[selectedDetail].type == 'state'" class="fa-landmark-alt_light"></i>
        <i *ngIf="details[selectedDetail].type == 'county'" class="fa-hotel_light"></i>
        <i *ngIf="details[selectedDetail].type == 'town'" class="fa-building_light"></i>
        <span class="title">{{ details[selectedDetail].title }}</span>
        <i class="fa-share_light back-button" (click)="onBack()"></i>
      </div>
      <div class="details-counts">
        <div class="small-panel">
          <div class="number">{{ details[selectedDetail].header1.value.toLocaleString() }}</div>
          <div class="name">{{ details[selectedDetail].header1.name }}</div>
        </div>
        <div class="small-panel">
          <div class="number">{{ details[selectedDetail].header2.value.toLocaleString() }}</div>
          <div class="name">{{ details[selectedDetail].header2.name }}</div>
        </div>
        <div class="small-panel">
          <div class="number">{{ details[selectedDetail].header3.value.toLocaleString() }}</div>
          <div class="name">{{ details[selectedDetail].header3.name }}</div>
        </div>
      </div>
      <div class="details-panel">
        <nav>
          <div class="nav nav-tabs" id="nav-tab">
            <a class="nav-item nav-link active" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab">
              <i class="fa-chart-network_light"></i>
            </a>
            <a class="nav-item nav-link" id="nav-link-tab" data-toggle="tab" href="#nav-link" role="tab">
              <i class="fa-file-certificate_light"></i>
            </a>
            <a class="nav-item nav-link" id="nav-task-tab" data-toggle="tab" href="#nav-task" role="tab">
              <i class="fa-tasks_light"></i>
            </a>
            <a class="nav-item nav-link" id="nav-note-tab" data-toggle="tab" href="#nav-note" role="tab">
              <i class="fa-comments-alt_light"></i>
            </a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-info" role="tabpanel">
            <div class="tab-panel">
              <i class="fa-landmark_light"></i>
              <div class="content">
                Assembly Bill 5000: No New Updates. Referred to the Assembly Appropriations Committee on 3/07/19. The bill requires the Department of Banking to produce a database with an interactive mapping component which provides a graphic representation of the extent of foreclosed properties. The bill establishes a $30 fee for the recording of deeds and lis pendens.
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-link" role="tabpanel">
            <div class="tab-panel">
              <i class="fa-landmark_light"></i>
              <div class="content"></div>
            </div>
            <div class="tab-panel">
              <i class="fa-hotel_light"></i>
              <div class="content"></div>
            </div>
            <div class="tab-panel">
              <i class="fa-building_light"></i>
              <div class="content"><i class="fa-file-pdf_light text-size-24p text-red"></i>foreclosed_and_vacant_properties f...</div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-task" role="tabpanel">...</div>
          <div class="tab-pane fade" id="nav-note" role="tabpanel">...</div>
        </div>
      </div>
    </div>
  </div>
</div>
