<mgl-map
  [style]="'mapbox://styles/mapbox/light-v10'"
  [zoom]="[3]"
  [center]="[-87.622088, 41.878781]"
  (load)="onLoad($event)"
>

  <mgl-control
    mglNavigation
  ></mgl-control>

</mgl-map>

<div [class]="'map-indicator ' + (indicatorTxt != '' ? 'show' : '')">
  <i class="fa-landmark-alt_regular" *ngIf="indicatorType == 'state'"></i>
  <i class="fa-hotel_regular" *ngIf="indicatorType == 'county'"></i>
  <i class="fa-building_regular" *ngIf="indicatorType == 'town' || indicatorType == 'place'"></i>
  {{ indicatorTxt }}
</div>
