<div #sidebar [class]="'sidebar ' + (isSmall ? 'small' : '')"
     [style.width.px]="(isSmall ? 56 : 128) + (details.length ? 360 : 0)">
  <div class="blur-container">
    <div class="backdrop-blur"></div>
  </div>
  <div class="sidemenu">
    <ul class="list-unstyled components">
      <li [class]="activated == 'HOME' ? 'active' : ''" #homeElement>
        <a href="javascript:" (click)="activateMenu('HOME')">
          <i class="light fa-compass_light"></i>
          <i class="regular fa-compass_regular"></i>
          <span>HOME</span>
        </a>
        <div class="activated-bar"></div>
        <div class="scroll-bar"></div>
      </li>
      <hr class="separator"/>
      <li [class]="activated == 'SEARCH' ? 'active' : ''" #searchElement>
        <a href="javascript:" (click)="activateMenu('SEARCH')">
          <i class="light fa-search_light"></i>
          <i class="regular fa-search_regular"></i>
          <span>SEARCH</span>
        </a>
        <div class="activated-bar"></div>
      </li>
      <li [class]="activated == 'ADD_DATA' ? 'active' : ''" #addElement>
        <a href="javascript:" (click)="activateMenu('ADD_DATA')">
          <i class="light fa-cloud-upload-alt_light"></i>
          <i class="regular fa-cloud-upload-alt_regular"></i>
          <span>ADD DATA</span>
        </a>
        <div class="activated-bar"></div>
      </li>
      <li [class]="activated == 'DRAW' ? 'active' : ''" #drawElement>
        <a href="javascript:" (click)="activateMenu('DRAW')">
          <i class="light fa-draw-polygon_light"></i>
          <i class="regular fa-draw-polygon_regular"></i>
          <span>DRAW</span>
        </a>
        <div class="activated-bar"></div>
      </li>
      <hr class="separator"/>
      <li [class]="activated == 'BOUNDARIES' ? 'active' : ''" #boundaryElement>
        <a href="javascript:" (click)="activateMenu('BOUNDARIES')">
          <i class="light fa-object-group_light"></i>
          <i class="regular fa-object-group_regular"></i>
          <span>BOUNDARIES</span>
        </a>
        <div class="activated-bar"></div>
      </li>
      <li [class]="activated == 'DATA_LAYERS' ? 'active' : ''" #layerElement>
        <a href="javascript:" (click)="activateMenu('DATA_LAYERS')">
          <i class="light fa-database_light"></i>
          <i class="regular fa-database_regular"></i>
          <span>DATA LAYERS</span>
        </a>
        <div class="activated-bar"></div>
      </li>
    </ul>

    <i [class]="(isSmall ? 'fa-arrow-alt-from-left_regular' : 'fa-arrow-alt-to-left_regular') + ' sidebar-switch'"
       (click)="switchSidebar()"></i>
  </div>

  <div #detailsPanel [class]="'details ' + (details.length ? 'disp' : '')">
    <!--Accordion wrapper-->
    <div class="accordion accordion-wrapper" id="details-accordion" role="tablist" aria-multiselectable="true">

      <div *ngFor="let detail of details; let i = index" class="card">
        <div class="card-header" role="tab" [id]="detail.title.replace(' ', '_')">
          <div class="w-100 d-flex align-items-center">
            <i *ngIf="i == 0" class="fa-landmark-alt_regular"></i>
            <i *ngIf="i == 1" class="fa-hotel_regular"></i>
            <i *ngIf="i == 2" class="fa-building_regular"></i>
            <span>{{ detail.title }}</span>
            <a class="collapsable {{ selectedDetail == i ? '' : 'collapsed' }}" data-toggle="collapse" data-parent="#details-accordion" [href]="'#collapse' + i"
               (click)="changeStatus(i)">
              <i class="fa-arrow-alt-from-bottom_regular"></i>
              <i class="fa-arrow-alt-from-top_regular"></i>
            </a>
          </div>
          <div class="boards">
            <div class="small-panel">
              <div class="number">{{ detail.header1.value.toLocaleString() }}</div>
              <div class="name">{{ detail.header1.name }}</div>
            </div>
            <div class="small-panel">
              <div class="number">{{ detail.header2.value.toLocaleString() }}</div>
              <div class="name">{{ detail.header2.name }}</div>
            </div>
            <div class="small-panel">
              <div class="number">{{ detail.header3.value.toLocaleString() }}</div>
              <div class="name">{{ detail.header3.name }}</div>
            </div>
          </div>
        </div>
        <div [id]="'collapse' + i" [class]="'collapse ' + (i == selectedDetail ? 'show' : '')" role="tabpanel"
             data-parent="#details-accordion">
          <div class="card-body">
            <div class="description">{{ detail.description }}</div>
            <div class="update-date">
              <span class="text-size-10p mr-5">Updated:</span>
              <span class="text-size-16p">{{ detail.updated }}</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
