.sidebar {
  height: 100%;
  width: 488px;
  color: #FFFFFF;
  position: relative;
  font-size: 16px;
  transition-duration: 0.5s;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;

  .blur-container {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .backdrop-blur {
      width: 200%;
      height: 120%;
      margin-left: -50%;
      margin-top: -20%;
      background: url(/assets/images/miles_hero.png) left bottom;
      background-size: cover;
      filter: blur(20px) brightness(0.5);
    }
  }

  .sidemenu {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 30px;
    width: 128px;
    height: 100%;
    transition-duration: 0.5s;

    ul {

      li {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          text-decoration: none;
          color: #ffffff;
          display: flex;
          flex-direction: column;
          margin: 10px 2px 10px 2px;

          &:hover, &:focus {
            text-decoration: none;
          }

          i {
            font-size: 24px;
            margin-bottom: 8px;
            margin-top: 8px;
          }
        }

        .activated-bar {
          position: absolute;
          right: 2px;
          width: 1px;
          height: 84px;
          border: 2px solid #ffffff;
          box-shadow: -5px 3px 7px #000000;
          border-radius: 2px;
          display: none;
        }

        &.active, &:hover {

          .activated-bar {
            display: block;
          }
        }
      }

      .separator {
        width: 50%;
        height: 2px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
        border-top: 1.5px solid #ffffff;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }

    .sidebar-switch {
      font-size: 24px;
      position: absolute;
      bottom: 8px;
      right: 16px;
      cursor: pointer;
    }
  }

  &.small {
    transition-duration: 0.5s;

    .sidemenu {
      width: 56px;
      transition-duration: 0.5s;

      ul {

        li {

          a {

            span {
              display: none;
            }
          }

          .activated-bar {
            height: 56px;
            display: none;
          }

          &.active, &:hover {

            .activated-bar {
              display: block;
            }
          }
        }
      }
    }
  }

  .details {
    width: 360px;
    height: 100%;
    position: absolute;
    left: 128px;
    padding: 8px;
    top: 0;
    transition-duration: 0.5s;

    .details-paragraph {
      background-color: #426BAF80;
      width: 100%;
      padding: 8px;
      border-radius: 4px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

      .title {
        display: flex;
        align-items: center;

        i {
          margin: 8px 8px 8px 12px;
          font-size: 24px;
        }

        span {
          margin-left: 14px;
          font-size: 16px;
        }

        .collapsable {

        }
      }
    }
  }
}
