<div #sidebar [class]="'sidebar ' + (isSmall ? 'small' : '')">
  <div class="blur-container">
    <div class="backdrop-blur"></div>
  </div>
  <div class="sidemenu">
    <ul class="list-unstyled components">
      <li [class]="activated == 'HOME' ? 'active' : ''">
        <a href="javascript:" (click)="activateMenu('HOME')">
          <i class="fa-compass_regular"></i>
          <span>HOME</span>
        </a>
        <div class="activated-bar"></div>
      </li>
      <hr class="separator"/>
      <li [class]="activated == 'SEARCH' ? 'active' : ''">
        <a href="javascript:" (click)="activateMenu('SEARCH')">
          <i class="fa-search_regular"></i>
          <span>SEARCH</span>
        </a>
        <div class="activated-bar"></div>
      </li>
      <li [class]="activated == 'ADD DATA' ? 'active' : ''">
        <a href="javascript:" (click)="activateMenu('ADD DATA')">
          <i class="fa-cloud-upload-alt_regular"></i>
          <span>ADD DATA</span>
        </a>
        <div class="activated-bar"></div>
      </li>
      <li [class]="activated == 'DRAW' ? 'active' : ''">
        <a href="javascript:" (click)="activateMenu('DRAW')">
          <i class="fa-draw-polygon_regular"></i>
          <span>DRAW</span>
        </a>
        <div class="activated-bar"></div>
      </li>
      <hr class="separator"/>
      <li [class]="activated == 'BOUNDARIES' ? 'active' : ''">
        <a href="javascript:" (click)="activateMenu('BOUNDARIES')">
          <i class="fa-object-group_regular"></i>
          <span>BOUNDARIES</span>
        </a>
        <div class="activated-bar"></div>
      </li>
      <li [class]="activated == 'DATA LAYERS' ? 'active' : ''">
        <a href="javascript:" (click)="activateMenu('DATA LAYERS')">
          <i class="fa-database_regular"></i>
          <span>DATA LAYERS</span>
        </a>
        <div class="activated-bar"></div>
      </li>
    </ul>

    <i [class]="(isSmall ? 'fa-arrow-alt-from-left_regular' : 'fa-arrow-alt-to-left_regular') + ' sidebar-switch'" (click)="switchSidebar(sidebar, details)"></i>
  </div>
  <div #details class="details">
    <div class="details-paragraph">
      <div class="title">
        <i class="fa-landmark-alt_regular"></i>
        <span>COLORADO</span>
        <i class="fa-arrow-alt-from-top_regular collapsable"></i>
      </div>
    </div>
  </div>
</div>
