.sidebar {
  height: 100%;
  color: #FFFFFF;
  position: relative;
  font-size: 16px;
  transition-duration: 0.5s;
  overflow: hidden;
  display: flex;

  .blur-container {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .backdrop-blur {
      width: 200%;
      height: 120%;
      margin-left: -50%;
      margin-top: -20%;
      background: url(/assets/images/miles_hero.png) left bottom;
      background-size: cover;
      filter: blur(20px) brightness(0.5);
    }
  }

  .sidemenu {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 30px;
    width: 128px;
    height: 100%;
    transition-duration: 0.5s;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    ul {

      li {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          text-decoration: none;
          color: #ffffff;
          display: flex;
          flex-direction: column;
          margin: 10px 2px 10px 2px;

          &:hover, &:focus {
            text-decoration: none;
          }

          i {
            font-size: 24px;
            margin-bottom: 8px;
            margin-top: 8px;
          }
        }

        .activated-bar {
          position: absolute;
          right: 2px;
          width: 1px;
          height: 84px;
          border: 2px solid #ffffff;
          box-shadow: -5px 3px 7px #000000;
          border-radius: 2px;
          display: none;
        }

        &.active, &:hover {

          .activated-bar {
            display: block;
          }
        }
      }

      .separator {
        width: 50%;
        height: 2px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
        border-top: 1.5px solid #ffffff;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }

    .sidebar-switch {
      font-size: 24px;
      margin: auto 16px 8px auto;
      cursor: pointer;
    }
  }

  &.small {
    transition-duration: 0.5s;

    .sidemenu {
      width: 56px;
      transition-duration: 0.5s;

      ul {

        li {

          a {

            span {
              display: none;
            }
          }

          .activated-bar {
            height: 56px;
            display: none;
          }

          &.active, &:hover {

            .activated-bar {
              display: block;
            }
          }
        }
      }
    }
  }

  .details {
    width: 360px;
    height: 100%;
    position: absolute;
    left: 128px;
    padding: 8px;
    top: 0;
    display: none;
    transition-duration: 0.5s;

    &.disp {
      display: block;
    }

    .accordion-wrapper {
      height: 100%;

      .card {
        background-color: #426BAF80;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        margin-bottom: 8px;
        border-radius: 4px;

        .card-header {
          padding: 8px;
          border-bottom: none;
          background-color: transparent;

          i {
            margin: 8px 8px 8px 12px;
            font-size: 24px;
          }

          span {
            margin-left: 14px;
            font-size: 16px;
          }

          .collapsable {
            margin-left: auto;
            color: #ffffff;
            text-decoration: none;

            .fa-arrow-alt-from-bottom_regular {
              display: block;
            }

            .fa-arrow-alt-from-top_regular {
              display: none;
            }

            &.collapsed {

              .fa-arrow-alt-from-bottom_regular {
                display: none;
              }

              .fa-arrow-alt-from-top_regular {
                display: block;
              }
            }

            &:hover {
              text-decoration: none;
            }
          }

          .boards {
            display: flex;
            justify-content: space-around;

            .small-panel {
              width: 104px;
              background-color: #426BAF80;
              border-radius: 4px;
              text-align: center;
              box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

              .number {
                font-size: 32px;
                font-weight: bold;
                width: 100%;
              }

              .name {
                font-size: 12px;
                width: 100%;
              }
            }
          }
        }

        .card-body {
          padding: 0;
          margin: 0 8px 8px 8px;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s;

          .description {
            background-color: #426BAF80;
            border-radius: 4px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
            font-size: 12px;
            padding: 2px 5px;
            min-height: 50px;
            margin: 0 2px 30px;
          }

          .update-date {
            position: absolute;
            bottom: 0;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
