.sidebar {
  width: 360px;
  background-color: #2699FB;
  color: #FFFFFF;
  height: 100%;

  .nav-item {

    .nav-link {
      color: #FFFFFF;
      height: 48px;
      width: 72px;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        font-size: 24px;
      }

      &.active {
        background-color: #008AFF;
        border-bottom: none;
        border-radius: 4px 4px 0 0;

        i {
          font-size: 32px;
        }
      }
    }
  }

  .tab-content {
    height: calc(100% - 48px);

    .tab-pane {
      height: 100%;
      background-color: #008AFF;
      border: #FFFFFF 1px solid;
      border-top: none;
      border-bottom: none;
      transition: all 0.5s;

      .tab-title {
        font-size: 24px;
        font-weight: bold;
        margin: 0 16px 20px 16px;
        padding-top: 32px;
      }

      .sidemenu {
        min-width: 358px;
        max-width: 358px;
        color: #FFFFFF;

        ul {
          p {
            color: #FFFFFF;
            padding: 10px;
          }

          li a {
            padding: 12px 17px;
            font-size: 16px;
            display: block;

            span {
              width: 30px;
              margin-right: 16px;

              i {
                font-size: 24px;
                vertical-align: middle;
              }
            }

            &:hover {
              color: #008AFF;
              background: #FFFFFF;
            }
          }

          li.active > a, a[aria-expanded="true"] {
            color: #FFFFFF;
            background: #2699FB;
          }
        }
      }

      a, a:hover, a:focus {
        color: inherit;
        text-decoration: none;
      }
    }

    .fade.in {
      opacity: 1;
    }
  }
}
