<div class="miles-nav">
  <img class="miles-logo" src="/assets/images/miles_logo@2x.png" width="295">
  <div class="miles-menu">
    <a class="miles-item text-center" href="#">
      <i class="fa-hand-holding-seedling_regular"></i><br>
      <span>PRESERVATION</span>
    </a>
    <a class="miles-item text-center" href="#">
      <i class="fa-snowplow_regular"></i><br>
      <span>CONSTRUCTION</span>
    </a>
    <a class="miles-item text-center" href="#">
      <i class="fa-tools_regular"></i><br>
      <span>MAINTENANCE</span>
    </a>
    <a class="miles-item text-center" href="#">
      <i class="fa-balance-scale_regular"></i><br>
      <span>COMPLIANCE</span>
    </a>
  </div>
</div>
