<div class="overview">
  <div class="row">
    <div class="col-md-7 d-flex flex-column">
      <h4>Portfolio Overview</h4>
      <div class="flex-grow-1">
        <app-portfolio-map (clickedState)="onSelectedState($event)"></app-portfolio-map>
      </div>
    </div>
    <div class="col-md-5">
      <h4>VPR Status</h4>
      <div class="row">
        <div class="col-6">
          <div class="block cursor-pointer" (click)="vprStatusPercentage.expired = !vprStatusPercentage.expired">
            <div>Expired</div>
            <div class="value text-size-56p">{{ vprStatusPercentage.expired ? getPercent(vprStatus.expired, vprStatus.required) : vprStatus.expired }}</div>
          </div>
        </div>
        <div class="col-6">
          <div class="block cursor-pointer" (click)="vprStatusPercentage.unregistered = !vprStatusPercentage.unregistered">
            <div>Unregistered</div>
            <div class="value text-size-56p">{{ vprStatusPercentage.unregistered ? getPercent(vprStatus.unregistered, vprStatus.required) : vprStatus.unregistered }}</div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-4">
          <div class="block">
            <div>Asset Count</div>
            <div class="value text-size-28p">{{ vprStatus.asset }}</div>
          </div>
        </div>
        <div class="col-4">
          <div class="block cursor-pointer" (click)="vprStatusPercentage.required = !vprStatusPercentage.required">
            <div>Required</div>
            <div class="value text-size-28p">{{ vprStatusPercentage.required ? getPercent(vprStatus.required, vprStatus.asset) : vprStatus.required }}</div>
          </div>
        </div>
        <div class="col-4">
          <div class="block cursor-pointer" (click)="vprStatusPercentage.registered = !vprStatusPercentage.registered">
            <div>Registered</div>
            <div class="value text-size-28p">{{ vprStatusPercentage.registered ? getPercent(vprStatus.registered, vprStatus.required) : vprStatus.registered }}</div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <div class="border-primary p-2">
            <div class="mb-1">Expired <a class="float-right text-primary cursor-pointer" (click)="vprStatusPercentage.dataList = !vprStatusPercentage.dataList">
              {{vprStatusPercentage.dataList ? '#' : '%'}}</a>
            </div>
            <div class="row mb-1">
              <div class="col-2" *ngFor="let exp of vprStatus.dataList.expired"><div class="border-primary text-center">{{vprStatusPercentage.dataList ? getPercent(exp, vprStatus.required) : exp}}</div></div>
            </div>
            <div class="row mb-1">
              <div class="col-2 text-size-10p text-center"><10 days</div>
              <div class="col-2 text-size-10p text-center">11 - 30</div>
              <div class="col-2 text-size-10p text-center">31 - 60</div>
              <div class="col-2 text-size-10p text-center">61 - 90</div>
              <div class="col-2 text-size-10p text-center"><91 days</div>
            </div>
            <div class="row mb-1">
              <div class="col-2" *ngFor="let unreg of vprStatus.dataList.unregistered"><div class="border-primary text-center">{{vprStatusPercentage.dataList ? getPercent(unreg, vprStatus.required) : unreg}}</div></div>
            </div>
            <div>Unregistered</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">

    <div class="col-md-5">
      <h4>Action Summary</h4>
      <div class="border-primary text-center p-3">

        <table class="w-100">
          <thead>
          <tr>
            <td class="text-size-24p">Requirement</td>
            <td class="text-size-24p">Entities</td>
            <td class="text-size-24p">Assets</td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of actionSummary">
            <td class="pt-2">
              <i *ngIf="item.type == 'document'" class="fa-file-contract_light text-size-24p text-primary"></i>
              <i *ngIf="item.type == 'online'" class="fa-network-wired_light text-size-24p text-primary"></i>
              <i *ngIf="item.type == 'localAgent'" class="fa-user-tie_light text-size-24p text-primary"></i>
              <i *ngIf="item.type == 'bond'" class="fa-hand-holding-usd_light text-size-24p text-primary"></i>
              <i *ngIf="item.type == 'notary'" class="fa-stamp_light text-size-24p text-primary"></i>
              <i *ngIf="item.type == 'inspection'" class="fa-clipboard-check_light text-size-24p text-primary"></i>
              <br>
              <div>{{ item.requirement }}</div>
            </td>
            <td>{{ item.entities }}</td>
            <td>{{ item.assets }}</td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="col-md-7">
      <h4>Work Priority</h4>
      <div class="border-primary text-center p-3 work-priority">

        <table class="w-100">
          <thead>
          <tr>
            <td class="text-size-24p">Count</td>
            <td class="text-size-24p text-left">Ordinance</td>
          </tr>
          </thead>
          <tbody>
          <tr class="priority-row cursor-pointer" *ngFor="let priority of workPriority" (click)="onWorkPriority()">
            <td>{{ priority.count }}</td>
            <td class="text-left pt-2 pb-2">
              <div class="text-size-12p">Vacant Property Registration</div>
              <div>{{ priority.description }}</div>
              <div class="small d-flex justify-content-between">
                <span>Due within <strong>{{ priority.duration }}</strong> days of vacancy</span>
                <span>Requirements:</span>
                <span class="text-size-12p text-primary">
                  <i *ngIf="priority.document" class="fa-file-contract_light ml-2"></i>
                  <i *ngIf="priority.online" class="fa-network-wired_light ml-2"></i>
                  <i *ngIf="priority.localAgent" class="fa-user-tie_light ml-2"></i>
                  <i *ngIf="priority.bond" class="fa-hand-holding-usd_light ml-2"></i>
                  <i *ngIf="priority.notary" class="fa-stamp_light ml-2"></i>
                  <i *ngIf="priority.inspection" class="fa-clipboard-check_light ml-2"></i>
                </span>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>
