
@import "scss/global";
@import "scss/miles-landing";
@import "scss/miles-map";
@import "scss/miles-nav";

body {
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #7b7b7b;
  border-radius: 5px;
}
