
.text-size-18p {
  font-size: 18px;
}
.text-size-16p {
  font-size: 16px;
}

.text-size-12p {
  font-size: 12px;
}

.text-size-10p {
  font-size: 10px;
}

.text-size-8p {
  font-size: 8px;
}

.text-size-24p {
  font-size: 24px !important;
}

.text-size-28p {
  font-size: 28px !important;
}

.text-size-56p {
  font-size: 56px !important;
}

.text-red {
  color: rgba(210, 22, 22, 1) !important;
}

.opacity-50 {
  opacity: 0.5;
}

.rotate-20deg {
  transform: rotate(-20deg);
}

.text-decoration-none {
  text-decoration: none;

  &:hover, &:focus, &:active {
    text-decoration: none;
  }
}

.mb-16p {
  margin-bottom: 16px !important;
}

.mt-32p {
  margin-top: 32px !important;
}

.pl-8p {
  padding-left: 8px !important;
}

.h-18p {
  height: 18px;
}

.cursor-pointer {
  cursor: pointer;
}

.transition-all-0_5s {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.border-primary {
  border: solid 1px #2699FB !important;
  border-radius: 4px;
}

.text-primary {
  color: #2699FB !important;
}
