
.text-size-16p {
  font-size: 16px;
}

.text-size-10p {
  font-size: 10px;
}

.text-size-24p {
  font-size: 24px;
}

.text-size-28p {
  font-size: 28px;
}

.opacity-50 {
  opacity: 0.5;
}

.rotate-20deg {
  transform: rotate(-20deg);
}

.text-decoration-none {
  text-decoration: none;

  &:hover, &:focus, &:active {
    text-decoration: none;
  }
}
