.main-page {
  background: url(/assets/images/miles_hero.png) center top;
  background-size: cover;
  width: 100%;

  .top-menu-bar {

    .blur-container {
      width: 100%;
      height: 80px;
      overflow: hidden;

      .backdrop-blur {
        width: 150%;
        height: 120px;
        margin-left: -25%;
        margin-top: -20px;
        background: url(/assets/images/miles_hero.png) center top;
        background-size: cover;
        filter: blur(20px) brightness(0.6);

        .color-bg {
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 255, 0.2);
        }
      }

    }

    .top-bar-content {
      position: absolute;
      top: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo-container {
        display: flex;
        align-items: center;

        .logo {
          margin-left: 8px;
          margin-right: 20px;
          margin-top: -8px;
          width: 128px;
          height: 96px;
        }

        .compliance {
          color: #ffffff;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-decoration: none;

          i {
            margin-top: 10px;
            font-size: 24px;
          }

          span {
            margin-top: 8px;
            font-size: 16px;
          }

          &:hover, &:focus {
            text-decoration: none;
          }
        }

        @media (max-width: 768px) {

          .compliance {
            display: none;
          }
        }
      }

      .top-menu-items {
        justify-content: flex-end;
      }

      .top-menu {
        color: #FFFFFF;
        display: flex;
        align-items: center;
        margin-right: 16px;
        float: right;

        .user-avatar {
          width: 48px;
          height: 48px;
          margin-left: 24px;
          margin-right: 16px;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          img {
            border-radius: 4px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
          }

          .badge-number {
            width: 24px;
            height: 24px;
            border-radius: 25px;
            background-color: rgba(256, 256, 256, 0.5);
            color: #1100FF;
            font-size: 16px;
            text-align: center;
            font-weight: bold;
            position: relative;
            top: -12px;
            left: -12px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
          }
        }

        .separator {
          width: 2px;
          height: 40px;
          border: 1px solid #ffffff;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
          margin-right: 14px;
        }

        .btn-signout {
          color: #ffffff;
          font-size: 24px;
          padding: 0;
          text-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
        }
      }

      @media (max-width: 768px) {

        .top-menu-items {
          justify-content: space-between;
        }
      }
    }

    .search-box-bottom {
      background: #ffffff;
      border: solid 1px #FFFFFF88;
      border-radius: 0;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
      color: #7B8CA8;
      font-size: 16px;
      width: 100%;
      padding-left: 24px;
      padding-right: 24px;
      transition: all 0.5s;

      &.hide {
        height: 0;
        padding: 0;
        border: 0;
      }

      &:focus {
        box-shadow: #FFFFFF;
      }
    }

    .search-form {
      position: relative;
      display: flex;
      align-items: center;
      width: 300px;

      .search-btn {
        position: absolute;
        right: 0;
        top: 0;
        color: #FFFFFF;
        cursor: pointer;
        font-size: 24px;
        text-shadow: -5px 5px 6px #000000;
      }

      .search-box {
        background: transparent;
        position: absolute;
        top: 0;
        border: 0;
        border-radius: 0;
        color: #FFFFFF;
        font-size: 16px;
        padding: 0 8px 0 8px;
        height: auto;
        width: 276px;
        margin-right: 24px;

        &:focus {
          box-shadow: none;
        }
      }

      .animation-texts {
        padding-left: 8px;
        min-height: 24px;

        span {
          position: relative;
          top: -50px;
          transition: all 0.5s;
          color: #D9D9D9;
        }

        span:nth-child(1) {
          transition-delay: 0.1s;
        }

        span:nth-child(2) {
          transition-delay: 0.15s;
        }

        span:nth-child(3) {
          transition-delay: 0.2s;
        }

        span:nth-child(4) {
          transition-delay: 0.25s;
        }

        span:nth-child(5) {
          transition-delay: 0.3s;
        }

        span:nth-child(6) {
          transition-delay: 0.35s;
        }

        span:nth-child(7) {
          transition-delay: 0.4s;
        }

        span:nth-child(8) {
          transition-delay: 0.45s;
        }

        span:nth-child(9) {
          transition-delay: 0.5s;
        }
      }

      .text-border {
        width: 276px;
        height: 2px;
        background-color: #ffffff;
        margin-right: 24px;
        border-radius: 3px;
        box-shadow: -3px 6px 7px #000000;
        transition: all 0.5s;
      }

      &.hide {

        .search-box, .animation-texts {
          opacity: 0;

          span {
            top: -50px;
            transition-delay: 0s;
          }
        }

        .text-border {
          width: 0;
        }
      }

      &.show {

        .search-box, .animation-texts {
          opacity: 100;

          span {
            top: 0;
          }
        }
      }
    }
  }

  .main {
    display: flex;
    position: relative;
    height: calc(100vh - 80px);

    app-miles-map, app-add-data {
      flex: 1;
      position: relative;
    }

    app-sidebar {
      margin-left: 0;
      transition-duration: 1s;
    }
  }
}
