.miles-nav {
  display: flex;
  align-items: center;
  color: #FFFFFF;

  .miles-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 80px;

    .miles-item {
      color: #FFFFFF;
      margin-right: 40px;
      text-shadow: 0 3px 6px #000000;

      i {
        font-size: 24px;
      }

      span {
        font-size: 16px;
      }

      &:hover {
        text-decoration: none;
      }

      &.active {
        text-shadow: -5px 10px 7px rgba(0, 0, 0, 0.7);

        i {
          font-size: 26px;
        }

        span {
          font-size: 17px;
        }
      }
    }
  }

  .hamburger-menu {
    display: none;
  }

  .miles-logo {
    cursor: pointer;
    width: 335px;
    margin: 20px;
  }

  @media (max-width: 1412px) {
    .miles-logo {
      width: 175px;
    }

    .miles-menu {
      margin-left: 0;
    }
  }

  @media (max-width: 957px) {
    .miles-menu {
      display: none;
    }

    .hamburger-menu {
      display: block;
      margin-left: auto;
      margin-right: 25px;

      #hamburger-panel {
        background: transparent;
        border: none;

        a {
          color: #FFFFFF;
          font-size: 24px;
        }

        a:hover {
          background-color: #FFFFFF;
          color: #008AFF;
        }
      }

      i {
        font-size: 36px;
      }

      button:focus {
        box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
        -webkit-box-shadow: none;
      }
    }
  }
}
