.miles-landing {
  background: url(/assets/images/miles_hero.png) center top;
  background-size: cover;
  width: 100%;
  height: 1079px;
  padding-top: 40px;

  .landing-text {
    width: 100%;
    height: calc(100% - 241px);
    padding-top: 219px;
    text-align: center;
    color: #FFFFFF;
    font-size: 64px;
    font-weight: bold;
  }

  @media (max-width: 957px) {
    .landing-text {
      font-size: 42px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.modal {
  background: #007bff1a;
  color: #FFFFFF;

  .modal-dialog {
    margin-top: 100px;

    .modal-content {
      border-radius: 0;
      border: #707070 solid 1px;
      background-color: #00000080;
      max-width: 480px;

      .modal-body {
        text-align: center;
        padding: 35px 52px 115px 52px;

        .login-title {
          margin-top: 24px;
        }

        .login-form {
          margin-top: 32px;
          text-align: left;

          button {
            font-size: 12px;
            padding: 10px 38px;
            border-width: 2px;
          }
        }

        input {
          border-radius: 0;
          border: none;
          background: #000;
          color: #FFFFFF;
          margin-bottom: 22px;
        }

        .forgot-pwd {
          font-size: 12px;
          color: #FFFFFF;
        }
      }
    }
  }
}

body.modal-open {

  .miles-landing {
    -webkit-filter: blur(12px);
    -moz-filter: blur(12px);
    -o-filter: blur(12px);
    -ms-filter: blur(12px);
    filter: blur(12px);
    filter: url(/assets/images/blur.svg#blur);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='12');
  }

  .modal-backdrop.show {
    opacity: 0.1;
  }
}
