.miles-landing {
  background: url(/assets/images/miles_hero.png) center top;
  background-size: cover;
  width: 100%;
  height: 1080px;

  .landing-text {
    width: 100%;
    height: calc(100% - 241px);
    padding-top: 180px;
    text-align: center;
    color: #FFFFFF;
    font-size: 64px;
    font-weight: bold;
  }

  @media (max-width: 957px) {
    .landing-text {
      font-size: 42px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.modal {
  background: #007bff1a;
  color: #FFFFFF;

  .modal-dialog {
    max-width: 480px;

    .modal-content {
      border-radius: 6px;
      border: none;
      background-color: rgba(0, 0, 0, 0.7);
      max-width: 480px;
      box-shadow: -10px 20px 20px #000000a0;

      .modal-body {
        text-align: center;
        border-radius: 6px;
        padding: 35px 52px 97px 52px;
        -webkit-box-shadow: inset -10px 20px 20px #2e7be924;
        -moz-box-shadow: inset -10px 20px 20px #2e7be924;
        box-shadow: inset -10px 20px 20px #2e7be924;

        .login-title {
          margin-top: 32px;
          font-size: 24px;
        }

        .login-form {
          margin-top: 32px;
          text-align: left;

          button {
            font-size: 12px;
            padding: 12px 36px;
            border-width: 1px;
            box-shadow: -5px 5px 10px #0000007F;
          }
        }

        input {
          border-radius: 0;
          border: none;
          background: #000;
          color: #FFFFFF;
          margin-bottom: 22px;
          padding: 16px 8px;
          height: 48px;
        }

        .forgot-pwd {
          font-size: 12px;
          color: #FFFFFF;
        }
      }
    }
  }
}

.modal.fade .modal-dialog {
  transition: transform .3s ease-out,-webkit-transform .3s ease-out;
}

body.modal-open {

  .miles-landing {
    -webkit-filter: blur(12px);
    -moz-filter: blur(12px);
    -o-filter: blur(12px);
    -ms-filter: blur(12px);
    filter: blur(12px);
  }

  .modal-backdrop.show {
    opacity: 0.1;
  }
}
