.sidebar {
  height: 100%;
  color: #FFFFFF;
  position: relative;
  font-size: 16px;
  transition-duration: 0.5s;
  overflow: hidden;
  display: flex;

  .blur-container {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .backdrop-blur {
      width: 200%;
      height: 120%;
      margin-left: -50%;
      margin-top: -20%;
      background: url(/assets/images/miles_hero.png) left bottom;
      background-size: cover;
      filter: blur(30px) brightness(0.7);
    }
  }

  .sidemenu {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 30px;
    width: 144px;
    height: 100%;
    transition-duration: 0.5s;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    line-height: 1;

    ul {
      position: relative;

      li {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          text-decoration: none;
          color: #ffffff;
          display: flex;
          flex-direction: column;
          margin: 6px 2px 10px 2px;
          text-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
          transition: all 0.1s;

          &:hover, &:focus {
            text-decoration: none;
          }

          i {
            font-size: 24px;
            margin-bottom: 8px;
            margin-top: 8px;
            transition: all 0.1s;

            &.regular {
              display: none;
            }

            &.light {
              display: block;
            }
          }
        }

        .activated-bar {
          position: absolute;
          right: 2px;
          width: 1px;
          height: 72px;
          border: 2px solid #ffffff;
          box-shadow: -5px 3px 6px #000000;
          border-radius: 2px;
          display: none;
        }

        .scroll-bar {
          position: absolute;
          right: 2px;
          width: 1px;
          height: 72px;
          border: 2px solid #ffffff;
          box-shadow: -5px 3px 6px #000000;
          border-radius: 2px;
          top: 0;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s;
        }

        &:hover {

          .activated-bar {
            display: none;
          }
        }

        &.active {

          a {
            font-size: 18px;
            text-shadow: -5px 10px 7px #000000;
            transition: all 0.1s;

            i {
              font-size: 26px;
              transition: all 0.1s;

              &.regular {
                display: block;
              }

              &.light {
                display: none;
              }
            }
          }

          .activated-bar {
            display: none;
          }
        }
      }

      .separator {
        width: 50%;
        height: 2px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
        border-top: 1.5px solid #ffffff;
        margin-top: 30px;
        margin-bottom: 26px;
      }
    }

    .sidebar-switch {
      font-size: 16px;
      margin: auto 8px 8px auto;
      cursor: pointer;
      transition: all 0.5s;
    }
  }

  &.small {
    transition-duration: 0.5s;

    .sidemenu {
      width: 56px;
      transition-duration: 0.5s;

      ul {

        li {

          a {

            span {
              display: none;
            }
          }

          .activated-bar {
            height: 56px;
            display: none;
          }

          .scroll-bar {
            height: 56px;
          }

          &.active, &:hover {

            .activated-bar {
              display: none;
            }
          }
        }
      }

      .sidebar-switch {
        font-size: 16px;
        margin: auto auto 8px auto;
        cursor: pointer;
        transition: all 0.5s;
      }
    }
  }

  .details {
    width: 360px;
    height: 100%;
    position: absolute;
    left: 144px;
    padding: 8px;
    top: 0;
    display: none;
    transition-duration: 0.5s;

    &.disp {
      display: block;
    }

    .details-header {
      padding: 12px 18px;
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      background-color: rgba(111, 164, 255, 0.25);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
      border-radius: 4px;

      i {
        font-size: 32px;
        text-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
      }

      .title {
        margin-left: 16px;
        font-size: 18px;
        text-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
      }

      .back-button {
        font-size: 16px;
        text-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
        margin-left: auto;
        cursor: pointer;
        transform: scaleX(-1);
      }
    }

    .details-counts {
      margin-bottom: 8px;
      display: flex;
      justify-content: space-between;

      .small-panel {
        width: 109px;
        background-color: rgba(111, 164, 255, 0.25);
        border-radius: 4px;
        text-align: center;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

        .number {
          font-size: 36px;
          font-weight: bold;
          width: 100%;
          text-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
        }

        .name {
          font-size: 14px;
          width: 100%;
          text-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
        }
      }
    }

    .details-panel {
      height: calc(100% - 198px);

      .nav-tabs {
        padding-left: 8px;
        border: 0;

        .nav-link {
          width: 82px;
          height: 54px;
          background-color: rgba(111, 164, 255, 0.25);
          background-image: linear-gradient(90deg, #4770CBAA, #6B9DEBAA);
          border: 0;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;

          i {
            color: #FFFFFF;
            font-size: 24px;
            text-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
          }

          &.active {
            border: 0;
            background-image: linear-gradient(90deg, #6B9DEBAA, #5577c3aa, #6B9DEBAA);

            i {
              text-shadow: -5px 10px 7px #000000;
              font-size: 28px;
            }
          }

          &:hover {
            border: 0;
          }
        }
      }

      .tab-content {
        background-color: rgba(90, 141, 221, 0.5);
        padding: 8px;
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        height: 100%;

        .tab-panel {
          background-color: rgba(123, 173, 255, 0.5);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
          margin-bottom: 8px;
          padding: 8px;
          display: flex;
          align-items: center;
          border-radius: 4px;

          i {
            font-size: 15px;
            text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            color: #FFFFFF;
            margin-right: 12px;
          }

          .content {
            color: #ffffff;
            font-size: 14px;
            min-height: 40px;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
