<div class="miles-nav">
  <img class="miles-logo" src="/assets/images/miles_logo@2x.png" width="295">
  <div class="miles-menu">
    <a class="miles-item text-center" href="#">
      <i class="fa-hand-holding-seedling_regular"></i><br>
      <span>PRESERVATION</span>
    </a>
    <a class="miles-item text-center" href="#">
      <i class="fa-snowplow_regular"></i><br>
      <span>CONSTRUCTION</span>
    </a>
    <a class="miles-item text-center" href="#">
      <i class="fa-tools_regular"></i><br>
      <span>MAINTENANCE</span>
    </a>
    <a class="miles-item text-center" href="#" data-toggle="modal" data-target="#loginModal">
      <i class="fa-balance-scale_regular"></i><br>
      <span>COMPLIANCE</span>
    </a>
  </div>
  <div class="dropdown hamburger-menu">
    <button class="btn text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa-bars_regular"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right mt-4" aria-labelledby="dropdownMenuButton" id="hamburger-panel">
      <a class="dropdown-item" href="#">PRESERVATION</a>
      <a class="dropdown-item" href="#">CONSTRUCTION</a>
      <a class="dropdown-item" href="#">MAINTENANCE</a>
      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#loginModal">COMPLIANCE</a>
    </div>
  </div>
</div>
