<div class="miles-nav">
  <img class="miles-logo" src="/assets/images/miles_logo@2x.png" (click)="chooseMenu('')">
  <div class="miles-menu">
    <a class="miles-item text-center {{ selected == 'PRESERVATION' ? 'active' : '' }}" href="#" (click)="chooseMenu('PRESERVATION')">
      <i class="fa-hand-holding-seedling_light"></i><br>
      <span>PRESERVATION</span>
    </a>
    <a class="miles-item text-center {{ selected == 'CONSTRUCTION' ? 'active' : '' }}" href="#" (click)="chooseMenu('CONSTRUCTION')">
      <i class="fa-snowplow_light"></i><br>
      <span>CONSTRUCTION</span>
    </a>
    <a class="miles-item text-center {{ selected == 'MAINTENANCE' ? 'active' : '' }}" href="#" (click)="chooseMenu('MAINTENANCE')">
      <i class="fa-tools_light"></i><br>
      <span>MAINTENANCE</span>
    </a>
    <a class="miles-item text-center mr-0 {{ selected == 'COMPLIANCE' ? 'active' : '' }}" href="#" data-toggle="modal" data-target="#loginModal" (click)="chooseMenu('COMPLIANCE')">
      <i class="fa-balance-scale_light"></i><br>
      <span>COMPLIANCE</span>
    </a>
  </div>
  <div class="dropdown hamburger-menu">
    <button class="btn text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
      <i class="fa-bars_light"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right mt-4" aria-labelledby="dropdownMenuButton" id="hamburger-panel">
      <a class="dropdown-item" href="#">PRESERVATION</a>
      <a class="dropdown-item" href="#">CONSTRUCTION</a>
      <a class="dropdown-item" href="#">MAINTENANCE</a>
      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#loginModal">COMPLIANCE</a>
    </div>
  </div>
</div>
